@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;700&display=swap');

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.price-container {
  font-family: Raleway, sans-serif;
  background: #F5F5F5;
  padding: 50px 0 50px;
}

.price-container-title {
  width: 1170px;
  height: 150px;
  font-weight: 400;
  font-size: 36px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.price-container div {
  width: 170px;
  border-top: 0.5px solid #EC7979;
  margin: auto;
}

.price-container-subtitle {
  width: 1169px;
  height: 21px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #86878B;
  margin: 40px auto 0px;
  background-color: #F5F5F5;
}

.wrapper-price {
  width: 1170px;
  height: 530px;
  display: flex;
  justify-content: space-between;
  margin: 59px auto 0;
}

.price-container-tariffs {
  width: 370px;
  height: 510px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.wrapper-price h4 {
  width: 370px;
  height: 60px;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: #333;
  border-bottom: 2px solid #F5F5F5;
}

.wrapper-price h3 {
  width: 370px;
  height: 100px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: #333;
  border-bottom: 2px solid #F5F5F5;
}

.price-container-tariffs-start {
  width: 370px;
  height: 510px;
  filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
  display: flex;
  flex-direction: column;
}

.wrapper-price h5.benefits {
  width: 370px;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  background: #333;
  border-bottom: 2px solid #F5F5F5;
}

.wrapper-price h5:not(.benefits) {
  width: 370px;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #86878B;
  background: #FFF;
  border-bottom: 2px solid #F5F5F5;
}